/*.xls
/*.txt
/*.bak
/@/
/\#/
/asc/@/
/asc/code/*.json
/asc/code/*.cpp
/asc/code/*.key
/db2/
/doc/
/docs/
/fotky/
/ezer3.2/
/ezer3.3/
/skins/
/tcpdf/
/nbproject/
/test/
/asc/code3.3/$.json
/prihlaska.log.php
/prihlaska.log.php
/prihlaska.log.php
